@model BlogCore_ASPNetMVC_Net8.Models.Slider

@{
    ViewData["Title"] = "Create Slider";
}

<br />
<br />
<h3 class="text-center">Create new slider</h3>
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 offset-1 border">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-10 offset-1 mt-4">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" placeholder="Type your name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="State"></label>
                </div>
                <br />
                <div class="col-8">
                    <input type="checkbox" asp-for="State" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="URLImage"></label>
                </div>
                <div class="col-8">
                    <input type="file" name="archivos" asp-for="URLImage" id="subidaArchivo" class="form-control" />
                    <span asp-validation-for="URLImage" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group row">
                <div class="col-8">
                    <partial name="_ViewCreateBack" />
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}