<div class="row">
    <div class="col">
        <button type="submit" class="btn-secondary form-control">Create category</button>
    </div>
    &nbsp;
    <div class="col">
        <a asp-action="Index" class="btn btn-success form-control">Go back</a>
    </div>
</div>